
    body{
background-color: #227CCA;
}


    .text{
border-radius: 5px;
box-shadow: 0 0 0 2px #5A8FC1;
padding: 5px 15px 5px 15px;
margin: 20px auto;
width: 400px;

}
    .name{
color: #FFFFFF;
padding: 10px 20px 10px 20px;
margin: 20px auto;
background-color: #FFFFFF;
border: 2px solid #FFFFFF;
width: 450px;

}

    .Baby{
display: flex;
justify-content: space-around;
padding: 0px;

}




.namber2{
padding-bottom: 10px;

}

    h1{
color: #2C79ED;
text-align: center;


}



